
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
}
/* shared styles */
.pri-color{
  color: rgb(254, 161, 1);
}
.sky{
  color: rgba(1, 172, 253, 1);
}
.third-c{
  color: rgba(5, 212, 223, 1);
}
.tar{
  color: rgba(93, 88, 239, 1);
}
.btn-p{
  background-color: rgb(254, 161, 1);
  border-radius: 12px;
  border: none;
  width: 195px;
  height: 50px;
}
/* navbar styles */
.logo img{
  width: 52px;
  height: 62px;
}
.logo-title{
  font-size: 2rem;
  font-weight: 700;
}
.logo{
  display: flex;
  align-items: center;
}
.bar ul{
  display: flex;
  gap: 20px;
  list-style: none;
}
.bar ul li>a {
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 1150px;
}
/* banner part styles */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
  height: 570px;
  gap: 50px;
}
.banner-main{
  width: 640px;
  height: 330px;
  padding: 120px auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;

}
.banner-title{
  font-size: 3.5rem;
}
.banner-desc{
  font-size: 1.25rem;
  margin: 20px auto;
}
.banner-main button{
  background-color: black;
  color: white;
  border-radius: 12px;
  width: 195px;
  height: 50px;
}
.img img{
  width: 100%;
}
/* standard styles */
.curriculum-title{
  text-align: center;
  font-size: 2.9rem;
margin: 60px auto;
}
.curriculum{
  background-image: url(bg.png);
}
.standard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.kinder-1{
  background: linear-gradient(rgba(222, 245, 255, 0),rgba(222, 245, 255, 1));
  border-radius: 19px;
}
.kinder-2{
  background: linear-gradient(rgba(255, 244, 220, 1),rgba(255, 244, 220, 1));
  border-radius: 19px;
}
.kinder-3{
background: linear-gradient(rgba(238, 225, 255, 1),rgba(242, 232, 255, 1));
  border-radius: 19px;
}

.kinder-title{
  font-size: 1.5rem;
}
.kinder-image{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.standard button{
  border: none;
}